body {
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    opacity: 0.75;
    transition: 0.3s;
}

button:hover {
    opacity: 1
}

/************************************/

.panel {
    background-color: black;
    min-height: 50vh;
    width: 400px;
    padding: 10px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 5px;

    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

/************************************/

.screen {
    background-color: azure;
    font-size: 50px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 300px;

    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: right;
    align-items: center;  
    
    outline: 2px solid black;
}

.buttons {
    display: flex;
    flex: 2 1 auto;
    flex-direction: row;
    align-items: stretch;
    gap: 5px;
}

/************************************/

.left-number {
    min-width: 150px;

    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.right-operator {
    min-width: 180px;

    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

/************************************/

.left-number button,
.right-operator button {
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.left-number button {
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 65px;

    justify-content: center;
    align-items: center;  
}

.left-number #number-symbol {
    font-size: 40px;
}

.right-operator button {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 80px;

    justify-content: center;
    align-items: center; 
}

.num {
    background-color: #800000;
    color: white;
}

#number-dot,
#number-symbol{
    background-color: #40E0D0;
}

.binary{
    background-color: #000080;
    color: white;
}

#operator-equal,
#operator-clear{
    background-color: #DAA520;
}