body {
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/************************************/

.panel {
    min-height: 50vh;
    width: 400px;
    padding: 5px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 5px;

    outline: 2px solid black;
}

/************************************/

.screen {
    font-size: 50px;
    padding: 1px 2px;
    min-width: none;

    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: right;
    align-items: center;  
    
    outline: 2px solid black;
}

.buttons {
    display: flex;
    flex: 2 1 auto;
    flex-direction: row;
    align-items: stretch;
    gap: 5px;
}

/************************************/

.left-number {
    min-width: 150px;

    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.right-operator {
    min-width: 180px;

    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

/************************************/

.left-number button {
    font-size: 50px;

    display: flex;
    flex-direction: row;
    height: 65px;
    width: 65px;

    justify-content: center;
    align-items: center;  
}

.right-operator button {
    font-size: 50px;

    display: flex;
    flex-direction: row;
    height: 90px;
    width: 80px;

    justify-content: center;
    align-items: center; 
}